@model IEnumerable<LMS.Application.ViewModel.CategoryVm>
@{
    int sl = 1;
}
<div class="container">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Bill Number</td>
                    <td>Payment Type</td>
                    <td>Details</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@sl</td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                    

                        <td>
                            <a class="btn btn-sm btn-success" onclick="paymentEdit(@item.Id)">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-danger" onclick="deletepayment(@item.Id)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    sl++;
                }
            </tbody>
        </table>
    </div>
</div>
